NEXT_PUBLIC_GOOGLE_CLOUD_PROJECT_NUMBER=
NEXT_PUBLIC_MAIN_STAGE_URL=http://localhost:3000/mainstage/
NEXT_PUBLIC_WAKE_PHRASE=Hey OmniCue
NEXT_PUBLIC_ENABLE_MEET_MEDIA=false
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
